/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.

.input_area pre, .input_area div {
        font-size: 120%;
}

.post-content p, .post-content li {
   font-size: 23px;
   color: #515151;
}

.highlight {
  background-color: #efefef;
  padding: 3px 3px 3px 5px;
  border: 1px solid #ddd;
  -moz-box-shadow: 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}