/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.

.input_area pre, .input_area div {
        font-size: 120%;
}

.post-content p, .post-content li {
   font-size: 23px;
   color: #515151;
}
